<nav class="bg-white shadow dark:bg-gray-800">
  <div class="Content">
    <div class="flex items-center justify-between">
      <div>
        <a class="Brand">Quiz Time</a>
      </div>
      <!-- <div class="flex md:hidden">
        <button type="button" class="MobileButton" aria-label="toggle menu">
          <i class="las la-bars"></i>
        </button>
      </div> -->
    </div>
    <div class="items-center md:flex">
      <div class="flex flex-col md:flex-row mx-6" *ngIf="isAuthenticated">
        <button class="btn-blue btn-md" (click)="onLogout()">
          Se déconnecter
        </button>
      </div>
    </div>
  </div>
</nav>
