<app-scoreboard [userEmail]="user!.email"></app-scoreboard>
<div class="text-center">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</div>
<form #quizForm="ngForm" (ngSubmit)="onSubmit(quizForm)" *ngIf="!isLoading">
  <div class="mt-2">
    <div class="quiz-card block" *ngFor="let quiz of quizs | paginate: config">
      <span class="card-question">{{ quiz.question }}</span>
      <div class="mt-2">
        <div *ngFor="let response of quiz.responses; let i = index">
          <label class="inline-flex items-center">
            <input
              type="radio"
              class="form-radio"
              ngModel
              name="{{ quiz.name }}"
              [value]="response"
              required
            />
            <span class="ml-2 card-response">{{ response }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <pagination-template
    #p="paginationApi"
    [id]="config.id!"
    (pageChange)="config.currentPage = $event"
  >
  </pagination-template>
  <div class="py-2">{{ p.getCurrent() }}/{{ p.getTotalItems() }}</div>
  <div class="text-center custom-pagination">
    <button class="btn-lg btn-gray" [disabled]="!quizForm.form.valid">
      Validez et passez à la question suivante
      <i class="las la-paper-plane"></i>
    </button>
  </div>
</form>
