<app-scoreboard [userEmail]="user!.email"></app-scoreboard>
<pagination-template
  #p="paginationApi"
  [id]="config.id!"
  (pageChange)="config.currentPage = $event"
>
</pagination-template>

<div class="relative z-0 max-w-xl mx-auto px-4 py-4 mt-5">
  <div class="quiz-rubric-wrapper">
    <app-timer></app-timer>
    <h2 class="font-thin mb-1 mt-2">Rubriques:</h2>
    <button
      *ngFor="let rubric of quizRubrics"
      class="btn-xs btn-blue md:block opacity-75"
      [class.quiz-rubric-active]="rubric === activeRubric"
      (click)="onRubricChange(rubric, p)"
    >
      {{ rubric }}
    </button>
  </div>

  <app-progress-bar [p]="p" [pM]="100 / quizs.length"></app-progress-bar>
  <app-quiz-form
    [questions]="quizs"
    [user]="user"
    [config]="config"
    [pApi]="p"
  ></app-quiz-form>
</div>
