.quiz-rubric-active {
  @apply bg-gradient-to-r from-blue-400  to-pink-500 opacity-100 #{'!important'};
}

.quiz-rubric-wrapper {
  position: absolute;
  left: 0;
  bottom: -7rem;
  margin-top: 2rem;
}

@screen md {
  .quiz-rubric-wrapper {
    left: -10rem;
    top: 0;
    margin-top: 0;
  }
}
