<app-header [isAuthenticated]="isAuthenticated"></app-header>
<div class="relative">
  <div [ngClass]="{ 'md:flex gap-2': !isAuthenticated }">
    <div
      *ngIf="!isAuthenticated"
      class="bg-cover bg-center w-full auth-image"
      style="
        background-image: url('https://cdn.pixabay.com/photo/2017/03/12/17/54/quiz-2137664_960_720.jpg');
      "
    ></div>
    <div class="px-4 py-6 mt-2 w-full">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-alert></app-alert>
</div>
