<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<form
  #questionForm="ngForm"
  (ngSubmit)="onSubmit(questionForm)"
  *ngIf="!isLoading"
>
  <div class="quiz-item-wrapper">
    <div class="block" *ngFor="let question of questions | paginate: config">
      <div>
        <h1 class="question">{{ question.question }}</h1>
        <div class="mt-2" [@fadeListAnimation]="question.responses.length">
          <div *ngFor="let response of question.responses; let i = index">
            <label
              class="inline-flex items-center question-responses"
              [class.active-response]="input.checked"
            >
              <input
                type="radio"
                class="form-radio"
                ngModel
                name="{{ question.name }}"
                [value]="response"
                required
                #input
              />
              <span class="response-label">{{ response }}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center custom-pagination">
    <button class="w-1/4 btn-gradient" [disabled]="!questionForm.form.valid">
      Valider
    </button>
  </div>
</form>
