@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fef8fd;
}

%btn {
  @apply text-sm text-white shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150;
}

$sizes: (
  "lg": 3,
  "md": 2,
  "xs": 1,
);

@each $key, $value in $sizes {
  .btn-#{$key},
  .input-#{$key} {
    @apply px-#{$value} py-#{$value} disabled:bg-opacity-50 disabled:cursor-not-allowed;
  }
}

$colors: "red", "green", "blue", "gray";

@each $color in $colors {
  .btn-#{$color} {
    @extend %btn;
    @apply bg-#{$color}-500 active:bg-#{$color}-700 rounded;
  }
}

.form-group {
  label {
    @apply block mb-1 font-bold;
  }
  input,
  textarea {
    @apply block mb-2 border focus:ring-1 outline-none rounded-md;
  }
}

textarea.ng-invalid.ng-touched,
input.ng-invalid.ng-touched {
  @apply ring-1 ring-red-500;
}
