<div class="max-w-2xl mx-auto border text-center py-10 px-4">
  <h1>Welcome to Quiz Time !!!</h1>

  <ul class="text-left mt-5">
    <li class="text-md font-light leading-relaxed mb-2 text-gray-800">
      > Vous devez répondre à une série de QCM (entre 15 et 20 questions).
    </li>
    <li class="text-md font-light leading-relaxed mb-2 text-gray-800">
      > Chaque réponse correcte vaut 1 point. Il n'y aura pas de pénalité pour
      mauvaise réponse.
    </li>
  </ul>
  <button class="btn-blue btn-lg" (click)="onStart()">
    Démarrer <i class="las la-play"></i>
  </button>
  <h1 class="mt-8 text-lg">Bonne Chance !!!</h1>
</div>
