<div class="max-w-2xl mx-auto text-center py-10 px-4 mt-20">
  <h1>Bienvenue à Quiz Time !!!</h1>
  <ul class="text-left mt-5">
    <li class="text-md font-light leading-relaxed mb-2 text-gray-800">
      > Vous devez répondre à une série de QCM (entre 15 et 20 questions).
    </li>
    <li class="text-md font-light leading-relaxed mb-2 text-gray-800">
      > Vous trouverez différentes rubriques qui sont indépendantes les unes des
      autres. La rubrique par défaut est "Informatique".
    </li>
    <li class="text-md font-light leading-relaxed mb-2 text-gray-800">
      > NB : A chaque changement de rubrique, vous perdez votre progression.
    </li>
    <li class="text-md font-light leading-relaxed mb-2 text-gray-800">
      > Chaque réponse correcte vaut 1 point. Il n'y aura pas de pénalité pour
      mauvaise réponse.
    </li>
  </ul>
  <button class="mt-10 md:mt-0 md:w-1/4 btn-gradient" (click)="onStart()">
    Démarrer <i class="las la-play"></i>
  </button>
  <h1 class="mt-8 text-lg">Bonne Chance !!!</h1>
</div>
